@using System.Globalization
@model UserManagement.Web.Models.Logs.LogListViewModel

<h2>Logs</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Timestamp</th>
                <th>Level</th>
                <th>Message</th>
                <th style="width: 1px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.PaginatedLogs)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Timestamp.ToString("yyyy-MM-ddTHH:mm:ssZ", CultureInfo.InvariantCulture)
                    </td>
                    <td>
                        @item.Level
                    </td>
                    <td>
                        @item.Message
                    </td>
                    <td>
                        <a asp-controller="Logs" asp-action="View" asp-route-id="@item.Id">View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div>
    <div class="btn-group" role="group">
        @for(int i = 1; i <= ((Model.Items.Count + 5 - 1) / 5) ; i++)
        {
            if (i == ViewBag.CurrentPage)
            {
                <a class="btn btn-primary disabled">@i</a>
            }
            else
            {
                <a asp-controller="Logs" asp-action="List" asp-route-page="@i" class="btn btn-default">@i</a>
            }
        }
    </div>
</div>

